<h1>記事詳細</h1>
<p><b>タイトル：<%= @article.title %> </b></p>
<p><b><%= @article.body %> </b></p>

<p>
  <%= link_to "編集", edit_article_path(@article) %>
  <%= link_to "削除", article_path(@article), method: :delete, data: {confirm: '削除してよろしいですか？'} %>
</p>

<%= link_to("一覧へ戻る","/articles")  %> 

